body{
   background-color: #CE567E;
    font-family: Beth Ellen;
    color: aliceblue;
}
.list{
    font-family: belleza;


}
 h2{ 
    font-family: Limelight;
}
p{
    font-family: belleza;
}
.disco{

}